<div class="information" id={{id}}>
    <img src={{avatar_url}} alt={{login}} class="information__image" />

    <div class="info">
        <h2 class="name">{{name}}</h2>
        <p class="in_login">{{login}}</p>
        <a class="url" href={{url}}>github</a>

        <ul class="information_list">
            <li class="information_item">Public repository: {{public_repos}}</li>
            <li class="information_item">Followers: {{followers}}</li>
            <li class="information_item">Twitter name: {{twitter_username}}</li>
            <li class="information_item">Location: {{location}}</li>
        </ul>
    </div>
</div>